*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #e5e6e6;
}

.page1 {
  position: relative;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(116, 114, 114, 0.5);
  padding: 10px;
  z-index: 100;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.site-header ul li a {
  text-decoration: none;
  color: #000;
}

.image-container {
  position: relative;
}

.background-image,
.image-center,
.kalnai {
  width: 100%;
  height: auto;
}

.image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 25%;
}

.pavadinimas1 {
  text-align: center;
  padding: 5% 34%;
}

.page2 p,
.page3 p {
  color: #797c7c;
}

.page2 h1,
.page3 h1 {
  color: #865b52;
  text-decoration: line-through;
  text-decoration-color: #000;
  text-decoration-thickness: 1%;
}

.str1,
.str2 {
  display: flex;
}

.containers {
  width: 45%;
  padding: 5%;
}

.play {
  position: relative;
  display: inline-block;
}

.play img {
  display: block;
  max-width: 100%;
  height: auto;
}

.play .playmid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}

.background1 {
  background-image: url('images/images/photo6_11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
}

h4 {
  color: #797c7c;
}
