.Armagedonas{

  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
}

button{

  padding: 0;
  border: none;
  background: none;
}
p #vidurys{
  display: flex;
 width: 100%;
  text-align: center;
}


