*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body html {
  margin: 0;
  padding: 0;
  background-color: #e5e6e6;
}

.page1 {
  position: relative;
}


.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(116, 114, 114, 0.678);
  padding: 10px;
  z-index: 100;
  
}

.image-container {
  position: relative;
  z-index: 1;
}

.flex-container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  
}

.site-header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.site-header ul li a:hover {
  background-color: #d4d4d4;
}

/* LINIJA IS KAIRES I DESINE */


.line {
  width: 80%;
  height: 1px;
  background-color: #000; 
  margin: 5px 0; 
}

/* PAVADINIMU SPAVLOS */


.page3 .pavadinimas1 h1 {
  color:#62a2ad;
}


.page4 .pavadinimas1 h1 {
  color:#000;
}


.page6_2 .pavadinimas2 h1 {
  color:#62a2ad;


}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


.image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  height: auto;
}

.background-image {
  z-index: 1;
  width: 100%;
  height: auto;
}

.kalnai {
  width: 100%;
  height: auto;
}

.pavadinimas1 {
  text-align: center;
  width: 100%;
  padding-left: 34%;
  padding-right: 34%;
  padding-top: 5%;
 
}

.pavadinimas2 {
  text-align: center;
  width: 100%;
  color: #865b52;
  text-decoration: line-through;
  text-decoration-color: #000;
  text-decoration-thickness: 1%;
}

p {
  color: #797c7c;
  font-family: 'Open Sans', sans-serif;
}

.page2 p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pavadinimas1 h1, .container_forma h1 {
  color: #865b52;
  text-decoration: line-through;
  text-decoration-color: #000;
  text-decoration-thickness: 1%;
  
}
.container_forma h1 {
  color: #000;
}

.containers {
  display: table;
  float: left;
  width: 45%;
  padding: 5%;
}

.play img {
  display: block;
  max-width: 100%;
  height: auto;
  
 
}

.play .playmid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  
}

.play {
  position: relative;
  display: inline-block;
  
}

.play:hover {
  
  box-shadow: 5px 5px 10px 0px rgba(27, 27, 27, 0.315);
  border-radius: 5px;
  cursor: pointer;
}

.playwhite {
  color: white;
}

.background1 {
  
  background-image: url('../images/images/photo6_11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  padding: 15%;
}

.str2 {
  height: 25%;
  width: 35%;
 
  
}

.BOLD {
  font-weight: bold;
  color: #000;
}


/* MYGTUKAS  */



 button{
  background-color: transparent;
  border: 1px solid;
  border-color:#797c7c ;
   color: #797c7c; /*spalva pats padariau nes man graziau nei juoda */
  font-size: 18px; 
  padding: 12px 20px; 
  border-radius: 5px; 
  text-decoration: none; 
  cursor: pointer; 
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

 button:hover {
  background-color: rgba(119, 116, 116, 0.233); 
}

h4 {
  color: #797c7c;
  font-weight: bold;
}

.deze, .deze2, .deze3 {
  margin-left: 10%;
        float: left;
        width: 40%;
        padding-bottom: 30px;

  
}

.deze iframe, .deze2 iframe, .deze3 iframe {
  width:100%;
padding-bottom: 5%;
 
height:315px; 
border: 0; 
padding-right: 5%;
}

.page4:after {
  content: "";
  display: table;
  clear: both;
}

.page4 .pavadinimas1{
  padding-bottom: 10%;
}


.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0); 
  padding: 20px;
  color: #fff; 
  border-radius: 10px; 
}

.carousel-caption h3 {
  font-size: 24px; 
  font-weight: bold; 
}
 /* CTRL F(FIND) */
/* !!!!!!!       JS         !!!!! */


/* ICONS */


.bigger-icon {
  font-size: 36px;
  padding: 20px;
  
}




.page5 {
  background-color:  #1d1e21;
}

  
.page6 {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.box, .box2, .box3, .box4, .box5, .box6 {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}



.box {
background-image: url(../images/images/photo11_26.jpg);
}

.box2 {
  background-image: url(../images/images/photo12_28.jpg);
}

.box3 {
  background-image: url(../images/images/photo14_36.jpg);
}

.box4 {
  background-image: url(../images/images/photo14_36.jpg);
}

.box5 {
  background-image: url(../images/images/photo15_35.jpg);
}

.box6 {
  background-image: url(../images/images/photo16_38.jpg);
}

.page6_2 {
 
}


.underline {
  text-decoration: underline;
}


.page6_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 60%;
  width: 100%; 
  margin: 0 auto; 
  background-image: url(../images/images/photo17_42.jpg);
  background-size:cover; /* Make the background image cover the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.page6_2 img {
object-fit: contain;
}

.page6_2 .pavadinimas2 {
  text-align: start;

  margin: 10px 0;
}

.Box_Box {
  width: 40%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10%;
  padding-top: 9%;
}

.Box_Box h1 {
  white-space: nowrap; /* Prevent line break */
}

.Box_Box p {
  margin: 10px 0;
}

.line2 {
  width: 1px;
  height: 80px;
  background-color: #000;
  margin: 10px 0;
}

.page6_2 p {
  width: 100%;
  text-align: left;
}

.line3 {
  width: 1px;
  height: 140px;
  background-color: #000;
  margin: 10px 0;
}

.line4 {
  width: 30%;
  height: 1px;
  background-color: #000; 
  
}

/* INPUT laukeliai*/

textarea {
  border: none; 
  border-bottom: 1px solid black; 
  outline: none; 
  background-color: transparent;
  width: 25%;
  
}

input  {
  border: none; 
  border-bottom: 1px solid black; 
  outline: none; 
  background-color: transparent;
  width: 25%;
}

.formosF {
  background-image:url(../images/images/photo19_46.jpg);
  background-repeat: no-repeat;
  background-size:cover;
 padding-left: 60%;
  text-align: left;
  padding-top: 20%;
  padding-bottom: 10%;
  margin: 0;
}

.container_forma  i {
  color: #000;
  margin-left: 40px;
}


.history_main p {
 padding-left: 30%;
 padding-right: 30%;
}



.divider {
  width: calc(100% - 40px); 
  height: 1px;
  background-color: #000;
  margin: 50px auto; 
}


.history_LL {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  
}


.history_LL h2 {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}


.menu-icon {
  display: none;
  cursor: pointer;
}


                /* !!!!!!!!!!!!!!!!!!!!!!!!!
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!
                !!!!!!!PHONE VERSION!!!!!!!!
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!
                !!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* keisti order kad vidoe susikeistu */


@media (max-width: 767px) {
 html{
    margin-top: 0;
  }

  .site-header ul {
    display: none;
    flex-direction: column;
    background-color: rgba(116, 114, 114, 0.678);
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 99; 
    
  }


  .site-header {
    padding: 25px;
  }

  .site-header ul.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
  }

 

  .pavadinimas1, .pavadinimas2 {
    padding-left: 10%;
    padding-right: 10%;
  }

 

  .pavadinimas2 {
    padding-bottom: 5%;
  }

 

  .page4 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    
  }
.deze, .deze2, .deze3 {
  flex: 1; 
  padding: 10px;
  
 
}

.deze iframe, .deze2 iframe, .deze3 iframe{
  max-width: 230%;
  max-height: 60%;
  width: 200%;
}

.deze2:nth-child(1) {
  order: 2; 
}

.deze2:nth-child(2) {
  order: 1; 
}

.deze3:nth-child(1) {
  order: 1; 
}

.deze3:nth-child(2) {
  order: 2; 
}

.iframe{
  padding-left: 30px;
}
  .background1{
    width: 100%;
  }

  .containers {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    
    
  }

  

  .page6 {
    display: flex;
    flex-direction: column;
    padding: 10%;
    
  }

  .page6_2 {
    padding-left: 0;
  }
 
  .box, .box2, .box3, .box4, .box5, .box6{
    background-size: 100%;

  }

  .Box_Box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .Box_Box h1 {
    font-size: 18px;
  }

  .Box_Box p {
    margin-left: 0;
  }

  .carousel-caption {
    padding: 10px;
  }

  .formosF {
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
  }

  textarea, input {
    width: 90%;
  }

  .history_main p {
    padding: 3% 10%;
}

.str2{
 margin:20px;
  width: 65%;
}


.line{
  width: 80%;
  height: 1px;
  background-color: #000;
  margin: 5px 0;
}

}

                /* !!!!!!!!!!!!!!!!!!!!!!!!!
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!
                !!!!!!!TABLET VERSION!!!!!!!
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!
                !!!!!!!!!!!!!!!!!!!!!!!!! */


@media (max-width: 991px) {
  html{
     margin-top: 0;
   }
 
   .site-header ul {
     display: none;
     flex-direction: column;
     background-color: rgba(116, 114, 114, 0.678);
     position: fixed;
     top: 50px;
     left: 0;
     width: 100%;
     z-index: 99; 
     
   }
 
 
   .site-header {
     padding: 25px;
   }
 
   .site-header ul.active {
     display: flex;
   }
 
   .menu-icon {
     display: block;
     position: fixed;
     top: 10px;
     left: 10px;
     font-size: 24px;
     cursor: pointer;
     z-index: 100;
   }
 
  
 
   .pavadinimas1, .pavadinimas2 {
     padding-left: 10%;
     padding-right: 10%;
   }
 
  
 
   .pavadinimas2 {
     padding-bottom: 5%;
   }
 
  
 
   .page4 {
     display: flex;
     flex-direction: column;
     padding-left: 30px;
     
   }
 .deze, .deze2, .deze3 {
   flex: 1; 
   padding: 10px;
   
  
 }
 
 .deze iframe, .deze2 iframe, .deze3 iframe{
   max-width: 230%;
   max-height: 60%;
  min-width: 200%;
 }
 
 .deze2:nth-child(1) {
   order: 2; 
 }
 
 .deze2:nth-child(2) {
   order: 1; 
 }
 
 .deze3:nth-child(1) {
   order: 1; 
 }
 
 .deze3:nth-child(2) {
   order: 2; 
 }
 
 .iframe{
   padding-left: 30px;
 }
   .background1{
     width: 100%;
   }
 
   .containers {
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
     padding: 2%;
     
     
     
   }
 
   .page5{
     
   }
 
   .page6 {
     display: flex;
     flex-direction: column;
     padding: 10%;
     
   }
 
   .page6_2 {
     padding-left: 0;
   }
  
   .box, .box2, .box3, .box4, .box5, .box6{
     background-size: 100%;
 
   }
 
   .Box_Box {
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
   }
 
   .Box_Box h1 {
     font-size: 18px;
   }
 
   .Box_Box p {
     margin-left: 0;
   }
 
   .carousel-caption {
     padding: 10px;
   }
 
   .formosF {
     padding-left: 10%;
     padding-top: 10%;
     padding-bottom: 20%;
   }
 
   textarea, input {
     width: 90%;
   }
 
   .history_main p {
     padding: 3% 10%;
 }
 
 .str2{
  margin:20px;
   width: 65%;
 }
 
 
 .line{
   width: 80%;
   height: 1px;
   background-color: #000;
   margin: 5px 0;
 }
 
 }



 .Armagedonas{

  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
}


#vidurys {
  padding-left: 10%;
  text-align: center;
    padding-top: 5%;
    padding-right: 10%;
}


/* #bt0, #bt1, #bt2, #bt3, #bt4, {

} */